<div>
  <button class="btn edit"><i class="icon-edit"></i> Edit</button>
  <h3>Book Contents</h3>
</div>
<nav data-type="toc">
{{#with navTree}}
  <ol>
  {{#recursive .}}
    <li class="{{class}}">
    {{#if id}}
      <a href="#content/{{id}}" data-id="{{id}}">{{title}}</a>
    {{else}}
      <span>{{title}}</span>
    {{/if}}
    {{#if children}}
      <ol>
        {{{recursive children}}}
      </ol>
    {{/if}}
    </li>
  {{/recursive}}
  </ol>
{{/with}}
</nav>
