<button class="btn btn-primary save">Done</button>
<nav data-type="toc">
{{#with navTree}}
  <ol>
  {{#recursive .}}
    <li class="editor-node {{class}}">
      <div class="editor-drop-zone editor-drop-zone-before"></div>
      {{#if id}}
        <span class="editor-drop-zone editor-drop-zone-in" data-id="{{id}}" data-class="{{class}}">{{title}}</span>
      {{else}}
        <span class="editor-drop-zone editor-drop-zone-in" data-class="{{class}}">{{title}}</span>
      {{/if}}
      <div class="editor-drop-zone editor-drop-zone-after"></div>
      {{#if children}}
        <ol>
          {{{recursive children}}}
        </ol>
      {{/if}}
    </li>
  {{/recursive}}
  </ol>
{{/with}}
</nav>
