<div>
  <button class="btn edit"><i class="icon-edit"></i> Edit</button>
  <h3>Table of Contents</h3>
</div>
<nav>
{{#with navTree}}
  <ol>
  {{#recursive .}}
    <li>
    {{#if href}}
      <a href="{{href}}" data-id="{{href}}">{{title}}</a>
    {{else}}
      <span>{{title}}</span>
    {{/if}}
    {{#if children}}
      <ol>
        {{{recursive children}}}
      </ol>
    {{/if}}
    </li>
  {{/recursive}}
  </ol>
{{/with}}
</nav>
