<div>
  <button class="btn edit">Edit</button>
  <h3>Table of Contents</h3>
</div>
<nav>
{{#with navTree}}
  <ol>
  {{#recursive .}}
    <li class="editor-node">
    {{#if href}}
      <a class="editor-drop-zone editor-drop-zone-in" href="{{href}}" data-id="{{href}}">{{title}}</a>
    {{else}}
      <span class="editor-drop-zone editor-drop-zone-in">{{title}}</span>
    {{/if}}
    {{#if children}}
      <ol>
        {{{recursive children}}}
      </ol>
    {{/if}}
    </li>
  {{/recursive}}
  </ol>
{{/with}}
</nav>
